# feature engineering

- creating new features:

- encoding : one-hot ,label

In [37]:
import numpy as np
import pandas as pd
data={'Height': [1.75, 1.80, 1.65, 1.90],
    'Weight': [65, 70, 60, 80],
    'Category': ['A', 'B', 'A', 'C'],
    'Date': pd.to_datetime(['2021-01-01', '2021-02-15', '2021-03-20', '2021-04-25'])
}

In [38]:
data

{'Height': [1.75, 1.8, 1.65, 1.9],
 'Weight': [65, 70, 60, 80],
 'Category': ['A', 'B', 'A', 'C'],
 'Date': DatetimeIndex(['2021-01-01', '2021-02-15', '2021-03-20', '2021-04-25'], dtype='datetime64[ns]', freq=None)}

In [39]:
df=pd.DataFrame(data)
df

   Height  Weight Category       Date
0    1.75      65        A 2021-01-01
1    1.80      70        B 2021-02-15
2    1.65      60        A 2021-03-20
3    1.90      80        C 2021-04-25

# creating new feature

In [40]:
df['BMI'] = df['Weight'] / (df['Height'] ** 2) # body mass index formula:wieght/height^2,^ = power

In [41]:
df

   Height  Weight Category       Date        BMI
0    1.75      65        A 2021-01-01  21.224490
1    1.80      70        B 2021-02-15  21.604938
2    1.65      60        A 2021-03-20  22.038567
3    1.90      80        C 2021-04-25  22.160665

# Transforming Existing Features: Log Transformation of Weight

In [42]:

df['Log_Weight'] = np.log(df['Weight']) # reduce outliers from the weight column,make roburst

In [43]:
df

   Height  Weight Category       Date        BMI  Log_Weight
0    1.75      65        A 2021-01-01  21.224490    4.174387
1    1.80      70        B 2021-02-15  21.604938    4.248495
2    1.65      60        A 2021-03-20  22.038567    4.094345
3    1.90      80        C 2021-04-25  22.160665    4.382027

# Handling Categorical Data: One-Hot Encoding

In [44]:

df = pd.get_dummies(df, columns=['Category'])

In [45]:
df

,Height,Weight,Date,BMI,Log_Weight,Category_A,Category_B,Category_C
0,1.75,65,2021-01-01,21.224490,4.174387,True,False,False
1,1.80,70,2021-02-15,21.604938,4.248495,False,True,False
2,1.65,60,2021-03-20,22.038567,4.094345,True,False,False
3,1.90,80,2021-04-25,22.160665,4.382027,False,False,True

# Extracting Date Features

In [47]:

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

# Display the DataFrame with new features
print(df)

   Height  Weight       Date        BMI  Log_Weight  Category_A  Category_B  \
0    1.75      65 2021-01-01  21.224490    4.174387        True       False
1    1.80      70 2021-02-15  21.604938    4.248495       False        True
2    1.65      60 2021-03-20  22.038567    4.094345        True       False
3    1.90      80 2021-04-25  22.160665    4.382027       False       False

   Category_C  Year  Month
0       False  2021      1
1       False  2021      2
2       False  2021      3
3        True  2021      4